# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Codigo compilado
dist

# Variables de entorno
.env

# Credenciales de Firebase
src/global/configs/credentials/firebase/firebase-admin*.json
